:root {
  --Color-brand-light: #819b57;
  --Color-brand-dark: #465929;
  --Color-primaty-light: #faf4ea;
  --Color-primary-dark: #31261a;
  --separator-line-below-chefs-section: #cfcfbc;
  --secondary-dark: #a18268;
}
