.nav-links {
  margin-bottom: 18px;
  color: var(--Color-primaty-light);
  text-decoration: none;
  transition: color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0.83, 0.88, -0.17);

  &:hover {
    color: var(--Color-brand-light);
  }
}
