.form-terms {
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  @media screen and (min-width: $bp-tablet) {
    max-width: 213px;
    font-weight: 500;
    font-size: 12px;
  }
  &__link {
    color: var(--Color-primary-dark);
    text-underline-offset: 2px;
  }
}
